[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/nest-microservice-prav/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/nest-microservice-prav/products-microservice.git
